body {
	background: #6592bfcc;
	color: #292a3a;
}

.Weather {
	background: rgb(217, 235, 255);
	border: 1px solid #292a3a;
	border-radius: 5px;
	margin: 30px auto 10px auto;
	padding: 40px;
	box-shadow: 5px 5px 15px #292a3a;
	max-width: 600px;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}

.currentCity {
	margin-top: 10px;

	font-size: 40px;
}

.btn {
	border: 1px solid #5190cfc0;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #5e5f69;
	color: #292a3a;
	background-color: #5190cfc0;
}

.currentTemperature {
	font-size: 100px;
	font-weight: 500;
	line-height: 0.8;
}

.units {
	font-size: 30px;
	position: relative;
	top: -50px;
}

a {
	text-decoration: none;
	color: #5190cf;
	font-weight: 500;
}
@media (max-width: 575px) {
	.WeatherInfo {
		text-align: center;
	}

	.currentCity {
		font-size: 80px;
	}
}
